@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/rubik-bold-webfont.woff2") format("woff2"),
    url("/fonts/rubik/rubik-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/fonts/rubik/rubik-regular-webfont.woff2") format("woff2"),
    url("/fonts/rubik/rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

HTML {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #609ec7;
  --color-accent: #ff5329;
  --color-LinkHover: #29ff53;
  --border-rad: 3px;
}

body {
  background: var(--background-color);
  color: var(--color-text);
  font-family: "rubik";
  font-style: normal;
}

::selection {
  background-color: var(--color-accent);
}

html,
body {
  height: 100% !important;
}

/* add height to fix footer
main {
  height: auto;
}
*/
/* Theme start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.dark {
  --color-text: #eee;
  --border: 5px solid hsla(0, 0%, 100%, 0.2);
  --border-shadow: 5px 5px 0 0 hsla(0, 0%, 100%, 0.2);
  --background-color: #111;
  --color-slide: black;
  --filter-background: brightness(100%) opacity(0.03);
  --popup-transperant: rgba(39, 39, 39, 0.91);
  --input-text: #d7d6eb;
  --border-focus: 5px solid hsla(12, 100%, 58%, 0.2);
}

.light {
  --color-text: #111;
  --border: 5px solid hsla(0, 0%, 0%, 0.2);
  --border-shadow: 5px 5px 0 0 hsla(0, 0%, 0%, 0.2);
  --background-color: #d7d6eb;
  --color-slide: hsla(0, 0%, 0%, 0.2);
  --filter-background: brightness(40%) opacity(0.07);
  --popup-transperant: rgba(147, 147, 147, 0.9);
  --input-text: #111;
  --border-focus: 5px solid hsla(12, 100%, 58%, 0.2);
}

/* Theme end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Main CSS end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.flex1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
}

/* Home start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#aboutMe::before {
  background-image: url(/img/backgroud1.svg);
  width: 100%;
  height: 1650px;
  filter: var(--filter-background);
  content: "";
  display: block;
  position: absolute;
  animation-name: pop;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

.box1 {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
}

.box2 {
  height: 300px;
  width: 700px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  overflow: auto;
}

@keyframes pop {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: 50%;
  }
  to {
    background-position-y: 100%;
  }
}

li {
  text-decoration: none;
  list-style-type: none;
  padding: 15px;
  font-weight: bold;
  transition: transform 0.3s ease-out;
}

.transform:hover {
  transform: translate(0, -3px);
}

#topList:hover {
  background-position: left;
}

.box1:hover,
.box2:hover {
  background-position: left;
  transform: translate(0, -10px);
}

ul,
.box1,
.box2,
.textLeft {
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 50%,
      var(--color-slide) 50%
    )
    right;
  background-size: 200%;
  transition: transform 0.5s ease-out, background-position 0.3s ease-out;
  border: var(--border);
  box-shadow: var(--border-shadow);
  border-radius: var(--border-rad);
  z-index: 1;
}

#topList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: var(--border);
  box-shadow: var(--border-shadow);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  z-index: 2;
  position: relative;
}

[href] {
  text-decoration: none;
  color: var(--color-text);
}

[href]:hover {
  color: var(--color-accent);
}

h2 {
  margin: 0;
}

.box2 > div > img {
  height: 130px;
}

.h2color {
  color: var(--color-primary);
}

/* Home end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* My skills start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  transition: transform 0.3s ease-out;
}

.caption {
  display: block;
}

.item:hover {
  transform: translate(0, -10px);
}

/* My skills end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* About Me !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.title1 {
  font-size: 25px;
  text-align: center;
  margin: 40px auto;
  max-width: 1200px;
  z-index: 1;
  position: relative;
}

.textLeft {
  text-align: left;
  background-size: 200%;
  max-height: 400px;
  max-width: 90%;
  margin: 20px auto auto auto;
  overflow: auto;
}

.textLeft > p {
  margin: 10px;
}

.H2 {
  display: inline-block;
  transition: transform 0.3s ease-out, color 0.3s;
}

.H2:hover {
  transform: translate(0, -10px);
  color: var(--color-primary);
}

.textLeft:hover {
  transform: translate(0, -10px);
  background-position: left;
}
/* About Me end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* My projects start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.WorkFlexBox1 {
  width: 80%;
  height: auto;
  box-shadow: var(--border-shadow);
  border: var(--border);
  border-radius: var(--border-rad);
  overflow: hidden;
  background-color: var(--color-primary);
  margin: 1rem;
  margin: 30px auto auto auto;
  transition: transform 0.3s ease-out;
  min-width: 40%;
}

.WorkFlexBox1:hover {
  transform: translate(0, -10px);
}

img {
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.WorkFlexBox1 > p {
  font-size: 20px;
  margin: 0;
}

.title1 {
  width: 90%;
}

.WorkFlexBox {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.WorkFlexBox1 > h3 {
  margin: 5px;
}
#MyProjectsButton {
  margin-top: 20px;
  box-shadow: var(--border-shadow);
  border-radius: var(--border-rad);
  background-color: var(--color-primary);
  border: var(--border);
  background-color: var(--color-accent);
  width: 100px;
  cursor: pointer;
}

p {
  padding-bottom: 10px;
}

#iframe1 {
  display: none;
  width: 90%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

/* My projects end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer > p {
  padding: 1em;
  margin: unset;
  display: inline;
}

#contactinfo {
  color: var(--color-LinkHover);
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

[href="mail/PGP-key.txt"] {
  color: var(--color-LinkHover);
  font-weight: bold;
}

footer {
  transition: background-color 0.5s;
  background-color: var(--color-primary);
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 20px 0 20px 0;
}

.viewbutton {
  margin: 10px auto 5px auto;
  background-color: var(--background-color);
  border-radius: var(--border-rad);
  border: var(--border);
  box-shadow: var(--border-shadow);
  display: inline-block;
  padding: 3px 10px;
  transition: transform 0.3s ease-out;
  color: var(--color-text);
}

.viewbutton:hover {
  transform: translate(0, -10px);
  color: var(--color-accent);
}

/* For mobile start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#aboutMe::before {
  height: 2550px;
}
header li {
  font-size: 20px;
  padding: 15px 8px;
}
@media (max-width: 1000px) {
  .WorkFlexBox2 {
    width: 60% !important;
    min-width: auto !important;
  }
}
@media (max-width: 600px) {
  header li {
    font-size: 14px;
  }
  [id="light"],
  [id="dark"] {
    font-size: 15px;
  }
  .dropDown {
    width: 250px !important;
  }
  .WorkFlexBox2 {
    width: 90% !important;
    min-width: auto !important;
  }
  .centered32{
    font-size: 15px;
  }
  input{
    width: 90% !important;
  }
}

@media (max-width: 420px) {
  header li {
    font-size: 13px;
    padding: 15px 3px;
  }
}

/* For mobile end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* DropDown start !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.dropDown {
  position: absolute;
  width: 300px;
  visibility: hidden;
  z-index: 2;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 25px;
  border-radius: 25px;
}

.dropDown1:focus-within .dropDown {
  visibility: visible;
  pointer-events: auto;
}

.dropDown1 {
  z-index: 2;
}

.dropDownItem a {
  padding-left: 10px;
}

.dropDownItem a::before {
  content: "";
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#dark::before {
  background-color: black;
  border: 2px solid white;
}

#light::before {
  background-color: white;
  border: 2px solid black;
}

/* DropDown end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*  testing waters here !!!!!!!!!!!!!!!!!!!!! */

.bg-image {
  background-image: url(/img/backgroud1.svg);
  z-index: -9999;
  width: 100%;
  height: 100%;
  filter: var(--filter-background);
  position: fixed;
  animation-name: pop;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

/*  text on the image !!!!!!!!!!!!!!!!!!!!! */

.textContainer {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.textContainer > span > p {
  background-color: var(--color-secondary);
  padding: 5px;
  border-radius: 5px;
}

/* Centered text */
.centered32 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  autodesk maya icon !!!!!!!!!!!!!!!!!!!!! */
/*  email popup !!!!!!!!!!!!!!!!!!!!! */
#mailPopup {
  background-color: var(--popup-transperant);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  display: none;
}
#mali {
  color: var(--color-LinkHover);
}

.close {
  margin-left: 95%;
  cursor: pointer;
  font-size: 24px;
}

.WorkFlexBox2 {
  width: 40%;
  height: auto;
  min-height: 150px;
  box-shadow: var(--border-shadow);
  border: var(--border);
  border-radius: var(--border-rad);
  overflow: hidden;
  background-color: var(--background-color);
  margin: 30px auto auto auto;
  transition: transform 0.3s ease-out;
}

.text11 > p {
  display: inline;
  font-weight: bold;
}

.contactinfo{
  text-align: center;
}

.text11 {
  display: block;
  margin-bottom: 20px;
}

.PGPtext{
  font-size: 15px;
}
.PGPtext > *{
  display: inline;
}


#a1{
  display: inline-block;
  height: 0; width: 0; overflow: hidden;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

#a2{
  position: absolute; top: -99999px;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

.links{
  color: var(--color-LinkHover);
}


/* form css start --------------------------------------------------------------------------------------- */

input{
  width: 60%;
  box-shadow: var(--border-shadow);
  border: var(--border);
  border-radius: var(--border-rad);
  background-color: var(--background-color);
  color: var(--color-text);
  margin: 10px auto 15px auto;
  transition: transform 0.3s ease-out;
}

#my-form-button{
  cursor: pointer;
}

/* form css end --------------------------------------------------------------------------------------- */